{{ define "scripts" }}{{ end }}
{{ define "body" }}
  <section class="section">
    <div class="content">
      <h3>
        Editing
        {{ default "User" .Controller.Name }}
      </h3>
      {{ with .FormErrors }}
        <div class="toast toast--warning">
          {{ range . }}{{ . }}{{ end }}
        </div>
      {{ end }}
      <form method="post">
        {{ with .Controller }}
          <div class="col-lg-6">
            {{ template "text-input.html" ( list .Name "name") }}
            {{ template "text-input.html" ( list .Email "email") }}
          </div>
          <div class="divider"></div>
          <div class="u-flex u-justify-flex-end">
            <div class="form-section u-text-right">
              {{ if .ID }}
                {{ template "modal.html" (print "/event/" .ID) }}
              {{ end }}
              <button class="btn-success">Save</button>
              <div></div>
              <div class="space"></div>
              <input type="hidden" value="{{ .ID }}" name="id" />
            </div>
          </div>
        {{ end }}
        {{ .CSRFField }}
      </form>
    </div>
  </section>
{{ end }}
